---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { RiArrowRightUpLine } from "react-icons/ri";
import { Image } from "astro:assets";

const allPosts = await getCollection("thoughts");

// Parse the dates and sort the posts by date in descending order
allPosts.sort((a, b) => {
	const dateA = new Date(a.data.date);
	const dateB = new Date(b.data.date);
	return dateB.getTime() - dateA.getTime();
});
---

<Layout title="Lakshay Bhushan | Thoughts">
	<h1 class="text-[2rem] font-bold tracking-tight text-primary">Thoughts</h1>
	<h2 class="text-base font-medium tracking-tight text-title">
		my take on things that interest me or I'm learning about...
	</h2>

	<section class="pt-4">
		<div class="flex flex-col items-start">
			{
				allPosts.map((post) => (
					<a
						href={"/thoughts/" + post.slug}
						target="_self"
						class="group -mx-3 mt-2 flex w-full flex-col items-start gap-4 overflow-hidden rounded-lg px-3 py-2 transition-all duration-300 ease-in-out md:flex-row md:items-center md:hover:scale-95 md:hover:bg-hoverColor">
						<div class="block shrink-0 md:w-[75px]">
							<Image
								src={post.data.cover}
								width={600}
								height={600}
								format="avif"
								loading="lazy"
								class="!m-0 block aspect-square rounded-md object-cover object-center"
								alt="cover image for posts in thoughts"
							/>
						</div>
						<div class="flex flex-col items-start">
							<h2 class="flex items-center justify-between  font-medium tracking-tight text-title group-hover:text-primary">
								<span>{post.data.title}</span>
								<RiArrowRightUpLine className="ml-1 text-primary opacity-0 transition-opacity duration-150 group-hover:opacity-100" />
							</h2>

							<p class="pt-0.5 text-sm font-normal text-body">
								{post.data.excerpt}
							</p>
							<p class="pt-1.5 text-xs font-normal text-body">
								{new Date(post.data.date).toLocaleDateString("en-US", {
									year: "numeric",
									month: "short",
									day: "numeric",
								})}
							</p>
						</div>
					</a>
				))
			}
		</div>
	</section>
</Layout>
