---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Lakshay Bhushan | Thoughts">
	<h1 class="text-[2rem] font-bold tracking-tight text-primary">Thoughts</h1>
	<h2 class="text-base font-medium tracking-tight text-title">
		Coming soon...
	</h2>
</Layout>
