.playing {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 14px;
  height: 14px;
}

.animated-span {
  width: 4px;
  height: 100%;
  background-color: #A0A0A0;
  content: "";
  transform-origin: bottom;
  animation: animationKeyframes 2.2s ease infinite alternate;
}

.animated-span:nth-of-type(2) {
  animation-delay: -2.2s;
}

.animated-span:nth-of-type(3) {
  animation-delay: -3.7s;
}

@keyframes animationKeyframes {
  10% {
    transform: scaleY(0.3);
  }

  30% {
    transform: scaleY(0.8);
  }

  60% {
    transform: scaleY(0.4);
  }

  80% {
    transform: scaleY(0.6);
  }

  100% {
    transform: scaleY(0.5);
  }
}
