---
import Layout from "../layouts/Layout.astro";
import { RiArrowRightUpLine } from "react-icons/ri";
---

<Layout title="Lakshay Bhushan • 404">
	<h1 class="text-[2rem] font-bold tracking-tight text-primary">404</h1>
	<h2 class="text-base font-medium tracking-tight text-title">
		Looks like you're lost. <a
			href="/"
			class="text-primary underline underline-offset-4">Go back home?</a
		>
	</h2>

	<img src="/404.svg" alt="404 error" width="100%" height="100%" />

	<div class="text-sm font-normal text-body">
		<p class="text-base font-medium tracking-tight text-title">
			In the mean time, you can check out my socials from the links below.
		</p>
		<div class="flex space-x-1 pt-4 text-sm">
			<a
				href="https://instagram.com/lakshaybhushan"
				target="_blank"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>instagram</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
			<a
				href="https://linkedin.com/in/lakshaybhushan"
				rel="noopenner noreferrer"
				target="_blank"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>linkedin</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
			<a
				href="https://github.com/lakshaybhushan"
				rel="noopenner noreferrer"
				target="_blank"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>github</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
			<a
				href="https://behance.com/lakshaybhushan"
				rel="noopenner noreferrer"
				target="_blank"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>behance</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
			<a
				href="https://x.com/blakssh"
				rel="noopenner noreferrer"
				target="_blank"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>twitter</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
			<a
				href="https://open.spotify.com/user/amcdf5xiittevf5gl1ecjqfyu"
				rel="noopenner noreferrer"
				target="_blank"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>spotify</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
			<a
				href="mailto:lakshay21397@iiitd.ac.in"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>email</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
		</div>
	</div>
</Layout>
