---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lakshay Bhushan | Blog">
	<h1 class="font-serif text-[2rem] tracking-tight text-primary">
		Welcome to laksh://ai
	</h1>
	<div>
		<h2 class="font-serif text-base tracking-tight text-title">
			have a chat with my AI to know more about me!
		</h2>
	</div>
</Layout>
