---
import Layout from "../layouts/Layout.astro";
import LakshAI from "../components/LakshAI.tsx";
import { BsStars } from "react-icons/bs";
---

<Layout title="Lakshay Bhushan • AI">
	<div class="flex items-center justify-between">
		<h1 class="text-[2rem] font-bold tracking-tight text-primary">
			laksh://ai
		</h1>
		<a href="/upload">
			<div
				class="rounded-full bg-emerald-100 px-2.5 py-1.5 text-xs font-medium text-emerald-700 transition-all duration-300 ease-in-out md:hover:bg-emerald-200">
				<BsStars className="-mt-0.5 inline-block text-emerald-700" />
				<span>Beta</span>
			</div>
		</a>
	</div>

	<h2 class="text-base font-medium tracking-tight text-title">
		have a chat with my AI to know more about me!
	</h2>
	<section class="pt-4">
		<LakshAI client:load />
	</section>
</Layout>
