---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lakshay Bhushan | AI">
	<h1 class="text-[2rem] font-bold tracking-tight text-primary">
		Welcome to laksh://ai
	</h1>
	<div>
		<h2 class="text-base font-medium tracking-tight text-title">
			have a chat with my AI to know more about me!
		</h2>
	</div>
</Layout>
