---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lakshay Bhushan | Blog">
	<h1 class="text-[2rem] font-bold tracking-tight text-primary">Blog</h1>
	<div>
		<h2 class="text-base tracking-tight text-title font-medium">coming soon later this year</h2>
	</div>
</Layout>
