---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lakshay Bhushan | Blog">
	<h1
		class="font-heading text-[2rem] font-semibold tracking-tight text-primary">
		Blog
	</h1>
	<div>
		<h2 class="font-heading text-base tracking-tighter text-title">
			coming soon...
		</h2>
	</div>
</Layout>
