---
import Layout from "../layouts/Layout.astro";
import SpotifyNowPlaying from "../components/Spotify.tsx";
---

<Layout title="Lakshay Bhushan | Colophon">
	<h1
		class="font-heading text-[2rem] font-semibold tracking-tight text-primary">
		Colophon
	</h1>
	<h2 class="font-heading text-base tracking-tighter text-title">
		/&#712;kɒləfən/ — a brief statement at a book's end detailing its
		production.
	</h2>
	<p class="pt-4 font-sans text-sm font-normal text-body">
		Basically, it&apos;s a fancy word that I&apos;m using to describe this
		website. This site is crafted with <span class="text-black">Astro</span> and
		<span class="text-black">React</span>, hosted on <span class="text-black"
			>Vercel</span
		>, and designed in <span class="text-black">Figma</span>. Plus, it&apos;s <span
			class="text-black">eco-friendly</span
		>, producing only <a
			href="https://www.websitecarbon.com/website/lakshaybhushan-vercel-app/"
			rel="noopenner noreferrer"
			target="_blank"
			class="text-black underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline"
			>0.07g of CO2</a
		> every time someone visits.
	</p>

	<section>
		<h2 class="font-heading pt-8 text-base tracking-tighter text-title">
			Fonts
		</h2>
		<ul class="list-disc px-4 pt-4">
			<li class="text-sm">
				<span class="text-black">SF Pro</span> — for headings and titles.
			</li>
			<li class="text-sm">
				<span class="text-black">Satoshi</span> — for body text.
			</li>
		</ul>
	</section>

	<section>
		<h2 class="font-heading pt-8 text-base tracking-tighter text-title">
			Inspiration
		</h2>
		<p class="pt-4 font-sans text-sm font-normal">
			This website is heavily inspired by the works of <a
				href="https://cassandratang.com"
				rel="noopenner noreferrer"
				target="_blank"
				class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline"
				>Cassandra Tang</a
			>, <a
				href="https://nexxel.dev"
				rel="noopenner noreferrer"
				target="_blank"
				class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline"
				>nexxel</a
			>, <a
				href="https://www.grujicic.com/"
				rel="noopenner noreferrer"
				target="_blank"
				class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline"
				>Chic and Geek</a
			>, <a
				href="https://emilkowal.ski/"
				rel="noopenner noreferrer"
				target="_blank"
				class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline"
				>Emil Kowalski</a
			>, and many more.
		</p>
	</section>

	<section>
		<h2 class="font-heading pt-8 text-base tracking-tighter text-title">
			Personal Stack
		</h2>
		<ul class="list-disc px-4 pt-4 text-sm text-body">
			<li>
				<span class="text-black">Arc</span> — A better way to browse the web.
			</li>
			<li>
				<span class="text-black">Raycast</span> — Mac’s spotlight on steroids.
			</li>
			<li>
				<span class="text-black">Spotify</span> — Music for every moment.
			</li>
			<li>
				<span class="text-black">TickTick</span> — Task management made simple.
			</li>
			<li>
				<span class="text-black">Notion</span> — My personal note taking app.
			</li>
			<li>
				<span class="text-black">VSCode</span> — Developer&apos;s best friend.
			</li>
			<li>
				<span class="text-black">iTerm2</span> — Better terminal for MacOS.
			</li>
		</ul>
		<p class="pt-2 text-sm">and many more...</p>
	</section>

	<section>
		<h2 class="font-heading pt-8 text-base tracking-tighter text-title">
			Now Playing
		</h2>
		<div class="pt-4 w-fit">
			<SpotifyNowPlaying client:visible />
		</div>
	</section>
</Layout>
