---
import Layout from "../layouts/Layout.astro";
import { RiArrowRightUpLine } from "react-icons/ri";
import { PiLightbulbBold } from "react-icons/pi";
import ProjectCard from "../components/Card.tsx";
import projectsData from "../components/data/projects.json";

const projects = projectsData;
---

<Layout title="Lakshay Bhushan">
	<main>
		<h1 class="text-[2rem] font-bold tracking-tight text-primary">
			Lakshay Bhushan
		</h1>
		<div class="flex items-center gap-1.5 font-medium tracking-tight">
			<h2 class="text-base text-title">designer</h2>
			<div class="mt-1.5 h-1 w-1 rounded bg-title"></div>
			<h2 class="text-base text-title">developer</h2>
			<div class="mt-1.5 h-1 w-1 rounded bg-title"></div>
			<h2 class="text-base text-title">researcher</h2>
		</div>

		<p class="pt-4 text-sm">
			Hi there, I'm Lakshay, a 20 y/o CS undergrad student at IIIT Delhi. I love
			creating cool stuff in <span class="text-black">extended reality</span> and
			<span class="text-black">web development</span>. I'm also a designer,
			passionate about <span class="text-black">UI design</span>, with a
			minimalist touch. When I'm not coding, I'm diving into research and new
			ideas.
		</p>

		<div class="flex w-fit flex-col items-start gap-0.5 pt-4 tracking-tight">
			<a
				href="/resume"
				target="_self"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>resume</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
			<a
				href="https://linkedin.com/in/lakshaybhushan"
				rel="noopenner noreferrer"
				target="_blank"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>linkedin</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
			<a
				href="https://behance.com/lakshaybhushan"
				rel="noopenner noreferrer"
				target="_blank"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>behance</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
			<a
				href="https://x.com/blakssh"
				rel="noopenner noreferrer"
				target="_blank"
				class="group flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
				<span>twitter</span>
				<RiArrowRightUpLine
					className="opacity-0 transition-opacity duration-150 group-hover:opacity-100"
				/>
			</a>
		</div>

		<section class="pt-8">
			<h2 class="font-medium tracking-tight text-title">Projects</h2>
			<div class="pt-1.5">
				{projects.map((project) => <ProjectCard project={project} />)}
			</div>
			<p class="group pt-1.5 text-sm text-body/80">
				<PiLightbulbBold
					className="-mt-0.5 inline-block transition duration-150 ease-in-out group-hover:text-primary"
				/>
				Feel free to explore my
				<a
					href="https://github.com/lakshaybhushan"
					rel="noopenner noreferrer"
					target="_blank"
					class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline"
					>GitHub</a
				> for more projects. Most of them are open-source.
			</p>
		</section>

		<div class="flex w-full items-center justify-center pt-8">
			<img
				src="/Signature.svg"
				alt="lakshay's signature"
				width="108"
				height="56.04"
			/>
		</div>
	</main>
</Layout>
