---
import Layout from "../layouts/Layout.astro";
import { LiaDownloadSolid } from "react-icons/lia";
---

<Layout title="Lakshay Bhushan • Resume">
	<h1 class="text-[2rem] font-bold tracking-tight text-primary">Resume</h1>
	<h2 class="text-base font-medium tracking-tight text-title">
		here&apos;s a brief overview of my professional experience
	</h2>
	<iframe
		src="/docs/Resume.pdf"
		width="100%"
		height="600px"
		class="pt-4"
		title="Lakshay's Resume"></iframe>

	<p class="pt-4 text-sm font-normal">
		If you prefer a more traditional format, you can download the pdf version of
		my resume by clicking the button below.
	</p>

	<a
		href="/docs/Resume.pdf"
		download="Lakshay_Bhushan_Resume.pdf"
		class="mt-4 inline-block rounded-full bg-primary px-4 py-2 text-xs text-bgColor transition duration-300 ease-in-out md:hover:bg-primary/75 md:hover:scale-95">
		<LiaDownloadSolid className="-mt-0.5 inline-block" />
		<span>Download PDF</span>
	</a>
</Layout>
