---
import Layout from "../layouts/Layout.astro";
import UploadForm from "../components/react/UploadForm";
---

<Layout title="Lakshay Bhushan • Upload">
	<h1 class="text-[2rem] font-bold tracking-tight text-primary">
		Upload Info.
	</h1>
	<h2 class="text-base font-medium tracking-tight text-title">
		a simple file upload form to update laksh://ai info.
	</h2>

	<UploadForm client:load />
</Layout>
