---
import Nowtime from "./NowTime.tsx";
---

<footer class="pt-8">
	<hr class="h-px border-0 bg-title" />
	<div class="mx-3 flex items-center justify-between pt-4">
		<span class="text-xs text-body"> &copy; Lakshay Bhushan </span>
		<Nowtime client:visible />
	</div>
</footer>
