---
import { MdOutlineKeyboardBackspace } from "react-icons/md";
---

<nav class="flex items-center justify-between pb-8 tracking-tight">
	<div>
		<a
			href="/lab"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			<MdOutlineKeyboardBackspace className="-mt-0.5 inline-block" />
			<span>lab</span>
		</a>
	</div>
	<div class="flex items-center gap-4">
		<a
			href="/lab"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			lab
		</a>
		<a
			href="/colophon"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			colophon
		</a>
		<a
			href="/ai"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			laksh://ai
		</a>
	</div>
</nav>
