<nav class="flex items-center justify-between pb-8 font-serif tracking-tight">
	<div>
		<img
			src="/favicon.svg"
			alt="logo"
			width="18"
			height="18"
			class="transition-all duration-300 ease-linear hover:rotate-180"
		/>
	</div>
	<div class="flex items-center gap-4">
		<a
			href="/blog"
			target="_self"
			class="flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			blog
		</a>
		<a
			href="/ai"
			target="_self"
			class="flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			laksh://ai
		</a>
		<a
			href="/colophon"
			target="_self"
			class="flex items-center underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			colophon
		</a>
	</div>
</nav>
