---
const currentPath = Astro.url.pathname;
const isHomePage = currentPath === "/";
const isThoughtsPage = currentPath === "/thoughts";
const isThoughtsSubPage =
	currentPath.startsWith("/thoughts/") && !isThoughtsPage;
import { MdOutlineKeyboardBackspace } from "react-icons/md";
---

<nav class="flex items-center justify-between pb-8 tracking-tight">
	<div>
		{
			isHomePage ? (
				<img
					src="/favicon.svg"
					alt="logo"
					width="18"
					height="18"
					class="transition-all duration-300 ease-linear hover:rotate-180"
				/>
			) : (
				<a
				href={isThoughtsSubPage ? "/thoughts" : "/"}
					target="_self"
					class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
					<MdOutlineKeyboardBackspace className="-mt-0.5 inline-block" />
					<span>back</span>
				</a>
			)
		}
	</div>
	<div class="flex items-center gap-4">
		<a
			href="/thoughts"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			thoughts
		</a>
		<a
			href="/colophon"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			colophon
		</a>
		<a
			href="/ai"
			target="_self"
			class="underline-offset-4 transition duration-150 ease-in-out hover:text-primary hover:underline">
			laksh://ai
		</a>
	</div>
</nav>
