---
import { AstroFont } from "astro-font";

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-slate-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<AstroFont
			config={[
				{
					name: "SF-Pro",
					src: [
						{
							style: "normal",
							weight: "400 500 600 700 800 900",
							path: "./public/fonts/SF-Pro.ttf",
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},

				{
					name: "Satoshi",
					src: [
						{
							style: "normal",
							weight: "400 500 600 700 800 900",
							path: "./public/fonts/Satoshi-Variable.woff2",
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
			]}
		/>
	</head>
	<body
		class="mx-auto my-8 max-w-[400px] px-4 text-body selection:bg-hoverColor selection:text-primary md:my-16 md:max-w-[600px]">
		<Nav />
		<slot />
		<Footer />
	</body>
</html>
