---
import { AstroFont } from "astro-font";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import PostHog from "../components/posthog.astro";
import Metadata from "../components/Metadata.astro";

interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bgColor">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="A minimal personal portfolio website made with Astro, React and TailwindCSS"
		/>
		<meta name="viewport" content="width=device-width" />

		<Metadata
			slot="head"
			title="Lakshay Bhushan"
			description="A minimal personal portfolio website made with Astro, React and TailwindCSS"
			image={`${import.meta.env.SITE}/og.png`}
			canonicalUrl={import.meta.env.SITE}
			type="website"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<PostHog />
		<AstroFont
			config={[
				{
					name: "Satoshi",
					src: [
						{
							style: "normal",
							weight: "400 500 600 700 800 900",
							path: "./public/fonts/Satoshi-Variable.woff2",
						},
					],
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
			]}
		/>
	</head>
	<body
		class="mx-auto my-8 max-w-[400px] px-4 text-body selection:bg-primary selection:text-hoverColor md:my-16 md:max-w-[600px]">
		<Nav />
		<slot />
		<Footer />
		<ViewTransitions />
	</body>
</html>
