.linkAnime {
  position: relative;
  text-decoration: none;
}

.linkAnime::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #a0a0a0;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.linkAnime:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#ImageEffect {
  filter: saturate(0);
  transition: all ease 0.8s;
}

#ImageEffect:hover {
  filter: saturate(100%);
}

@media screen and (max-height: 850px) {
  * {
    font-size: 0.8rem;
  }

  .mt-5 {
    margin-top: 0.5rem;
  }

  .mt-2 {
    margin-top: 0.2rem;
  }

  .gap-y-1\.5 {
    gap: 0.2rem;
  }

  .text-xl {
    font-size: 1.2rem;
    line-height: normal;
  }
  .w-\[24vw\] {
    width: 24 vw;
  }
}
